<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Instagram Profile Picture</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>Download Instagram Profile Picture</h1>
    </header>
    <div class="container">
        <form method="post">
            <label for="username" style="text-align:center">Enter Instagram username:</label>
            <input type="text" id="username" name="username" required>
            <div class="buttons">
                <input type="submit" value="Download">
                <input type="reset" value="Reset" onclick="clearImageSection()">
            </div>
        </form>
        <div id="image-section" style="{% if image_url %}display: block;{% else %}display: none;{% endif %}">
            {% if image_url %}
                <h2>Profile Picture for {{ request.form['username'] }}:</h2>
                <img src="{{ image_url }}" alt="Profile Picture" class="profile-pic" id="profile-picture">
            {% elif request.method == 'POST' %}
                <p>The specified username does not exist.</p>
            {% endif %}
        </div>
        <!-- FAQ Section -->
        <section class="faq">
            <h2>Frequently Asked Questions (FAQ)</h2>
            <div class="faq-item">
                <h3 class="faq-question">What is this tool for?</h3>
                <p class="faq-answer">This tool allows you to download Instagram profile pictures by entering the username.</p>
            </div>
            <div class="faq-item">
                <h3 class="faq-question">Is it free to use?</h3>
                <p class="faq-answer">Yes, this tool is completely free to use.</p>
            </div>
            <div class="faq-item">
                <h3 class="faq-question">Do I need an Instagram account to use this tool?</h3>
                <p class="faq-answer">No, you do not need an Instagram account to download profile pictures using this tool.</p>
            </div>
            <div class="faq-item">
                <h3 class="faq-question">Why can't I download the profile picture?</h3>
                <p class="faq-answer">Ensure that the username is correct.</p>
            </div>
        </section>
    </div>
    <footer>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('privacy') }}">Privacy Policy</a>
            <a href="{{ url_for('terms') }}">Terms of Use</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
        </nav>
        <p>&copy; 2024 sakuun_aah</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
