<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Download Instagram Profile Picture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <div class="container">
        <p>We value your privacy. Our tool does not store any personal information or profile pictures. All downloads are processed securely and privately.</p>
    </div>
    <footer>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">About Us</a>
                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                <a href="{{ url_for('terms') }}">Terms of Use</a>
                <a href="{{ url_for('contact') }}">Contact Us</a>
            </nav>
        <p>&copy; 2024 sakuun_aah</p>
    </footer>
</body>
</html>
